@charset "UTF-8";
/* CSS Document */

.news_body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	float: right;
}
a:visited {
	color: #666;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}
.news_link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #666;
	float: right;
}
a:hover {
	color: #cf1920;
	text-decoration: underline;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}
a:active {
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}
a:link {
	color: #333;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}

.news_body_head {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #cf1920;
	float: left;
	font-weight: bold;
}
.d_input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333;
	float: right;
}
.d_input_left {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333;
	float: left;
}
.p_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #CE1920;
}
.p_subtitle {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: bold;
}
.p_body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
}

.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}
.news_body_black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000;
	font-weight:900;
	font-weight: bold;
	color: #666;
	text-align: left;
	vertical-align: middle;
}
.p_subtitle_white {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
}

.hr {border: none 0;
	border-top: 1px solid #ccc;
	width: 100%;
	height: 1px;
	margin: 10px auto 0 0;
	text-align: center;
	}
.p_title_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #666;
}
.copy_link {
	color: #666;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}

.footer_gray {
    position: relative;
    padding-top: 8px;
    top: 0px;
    right: 0;
    margin: 0 auto;
    width: 1000px;
    ;
}
.footer_gray2 {
	position: relative;
    top: 0px;
    right: 0;
    margin: 0 auto;
    width: 1000px;;
    background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    line-height: 1.5;
}

.red_link{
	color: #F00 !important;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
}

.text-right {
	float: right;
	padding: 10px;
}


